body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

main {
	display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: .3rem;
}

section {
    padding: .5rem;
}

h2 {
	color: navy;
	grid-column: 1/3;
}

article p {
	text-align: justify;
}

.banner {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #c9f1ee;
    font-weight: 600;
    text-align: center;
}

.callout {
	color: #000000;
	background-color: #c9f1ee;
    border: 1px solid rgba(0, 0, 0, 0.1);
    grid-column: 1/3;
    padding: .8rem;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: right;
}