* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr
}

h2 {
    text-align: left;
    padding: 2rem;
    grid-column: 1/4;
    background-color: rgb(60, 60, 60);
}