@media only screen and (min-width: 768px) {
    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 2rem;
        align-items: center;
    }

    header h1 {
        text-align: left;
    }

    .navigation {
        position: static;
        flex-direction: row;
        width: auto;
        border: none;
        display: flex !important;
    }

    .navigation a {
        padding: 0.5rem 1rem;
        border-bottom: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .temple-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 3 columnas adaptables */
        gap: 1.5rem;
    }
}